<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Vojtech Moravec">
    <title>Database Structure</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/sign-in/">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    

    <!-- Bootstrap core CSS -->
    <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
    /*@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);*/


    .btn-danger {
    color: #fff;
    background-color: #ff0028d4;
    border-color: #ff0028d4;
    margin-left: 20px;}

    a:visited{
    color: black}

    a:link { 
    color: black;
    text-decoration: None}

    #hello-msg{
    font-size: 18px;
    color: #fff;
    margin-right: 20px}

   /* *, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: unset;
    }*/

    nav.navbar.navbar-light.bg-light {
    background-color: white;
    padding: 9px;
    background-color: #012b39;}

   
    
    body {
    background: 69;
    font-family: 'Arial', sans-serif;
    }
    
    
    td {
    color:black; /*#fff;*/
    font-weight: 400;
    padding: 0.65em 1em;
    }
    .disabled td {
    color: #4F5F64;
    }
    tbody tr {
    transition: background 0.25s ease;
    }
    tbody tr:hover {
    background:#ff0028d4;
    }

    .table{
        border: none;
    }
    

    </style>

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="width: unset;">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="https://alfons.vutbr.cz/wp-content/uploads/2017/06/VUT_symbol_RGB_CZ.png" alt="" width="30" height="30">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                      <i class="bi bi-person"></i>
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                        <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                      </svg>
                      <span class = "hello-msg">{{request.user}}</span>
                      <button type="button" class="btn btn-danger"><a href = "{% url 'logout'%}" style="color: white;">Logout</button></a>

                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-sm">
        <table class="table table-borderless text-center">
            <thead>
            <tr>
                <th>ID
                <th>Table Name
               
            </thead>
            <tbody>
            <tr>
                <td>1
                <td><a href = "{%url 'address' %}">Address</a>
            <tr>
                <td>2
                <td><a href = "{%url 'contact'%}">Contact</a>
            <tr>
                <td>3
                <td><a href = "{%url 'courses'%}">Courses</a>
            <tr>
                <td>4
                <td><a href = "{%url 'department'%}">Department</a>
            <tr>
                <td>5
                <td><a href = "{%url 'faculty'%}">Faculty</a>
            <tr>
                <td>6
                <td><a href = "{%url 'login_info'%}">Login Info</a>
            <tr>
                <td>7
                <td><a href = "{%url 'room'%}">Room</a>
            <tr>
                <td>8
                <td><a href = "{%url 'role'%}">Role</a>
            <tr>
                <td>9
                <td><a href = "{%url 'user'%}">User</a>
            <tr>
                <td>10
                <td><a href = "{%url 'study_programme'%}">Study Programme</a>
            </tbody>
        </table>
    </div>
    

    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script> 
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</body>
</html>