<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Vojtech Moravec">
    <title>Database structure</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/sign-in/">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- Bootstrap core CSS -->
    <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <style>
      .container,.container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
      width: 55%;}

      nav.navbar.navbar-light.bg-light {
      background-color: white;
      padding: 9px;
      background-color: #012b39;}

      a:link { 
      color: white;
      text-decoration: None}

      .btn-danger {
      color: #fff;
      background-color: #ff0028d4;
      border-color: #ff0028d4;
      margin-left: 20px;}

      a:visited{
      color: #fff}

      body {
      background: 69;
      font-family: 'Arial', sans-serif;}

      .display-4 {
      font-size: calc(1.475rem + 2.7vw);
      font-weight: 300;
      margin-bottom: 40px;
      line-height: 1.2;
      margin-top: 20px;}

      *, *:before, *:after {
      margin: 0;
      padding: 0;
      box-sizing: unset;}
    </style>
    <link href="sticky-footer.css" rel="stylesheet">

  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
          <a class="navbar-brand" href="#">
              <img src="https://alfons.vutbr.cz/wp-content/uploads/2017/06/VUT_symbol_RGB_CZ.png" alt="" width="30" height="30">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ms-auto">
                  <li class="nav-item">
                    <i class="bi bi-person"></i>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                      <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                    </svg>
                    <span class = "hello-msg">{{request.user}}</span>
                    <button type="button" class="btn btn-danger"><a href = "{% url 'logout'%}">Logout</button></a>

                  </li>
              </ul>
          </div>
      </div>
  </nav>
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Table - user</h1>
      </div>
    </div>
    <main class="flex-shrink-0">
      <div class="container">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Contact_ID</th>
            </tr>
            </thead>
            <tbody>
            {% for record in user_tab %}
            <tr>
                <th scope="row">{{record.user_id}}</th>
                <td>{{record.first_name}}</td>
                <td>{{record.last_name}}</td>
                <td>{{record.contact_id}}</td>
            </tr>
            {%endfor%}
            </tbody>
        </table>
      </div>
    </main>
    

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script> 
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</body>
</html>